# Introduction to Pandas

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Data Frame
The easy method to built a data frame is to convert a dictionary to data frame

In [16]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

write data frame to csv file

In [63]:
football.to_csv('football.csv', index_label='ID')
football.to_excel('football.xlsx', index=False)

from pandas.io import sql
import sqlite3
conn = sqlite3.connect('foosql')
query = "SELECT * FROM foosql;"
football.to_sql(query, conn)

# Read Data
Pandas can read the Data from different format such as CSV, text, SQL, and Excel

it is also possible to specify the columns that we need

In [53]:
foo_all = pd.read_csv('football.csv')
cols = ['year', 'team']
cols_name = ['yy', 'tt']
foo_col = pd.read_csv('football.csv', sep=',', usecols=cols, header=0)
foo_col.head()

   year     team
0  2010    Bears
1  2011    Bears
2  2012    Bears
3  2011  Packers
4  2012  Packers

In [56]:
foo_excel = pd.read_excel('football.xlsx', 'Sheet1')

In [67]:
from pandas.io import sql
import sqlite3

conn = sqlite3.connect('foosql')
query = "SELECT * FROM foosql;"

#results = sql.read_sql(query, con=conn)
#results.head()

use convertor to clean $ from price

In [68]:
#chicago = pd.read_csv('city-of-chicago-salaries.csv', header=0, names=headers,
#                      converters={'salary': lambda x: float(x.replace('$', ''))})

# Inspection

In [69]:
football.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
year      8 non-null int64
team      8 non-null object
wins      8 non-null int64
losses    8 non-null int64
dtypes: int64(3), object(1)
memory usage: 328.0+ bytes

In [73]:
football.dtypes

year       int64
team      object
wins       int64
losses     int64
dtype: object

In [74]:
football.describe()

              year       wins     losses
count     8.000000   8.000000   8.000000
mean   2011.125000   9.375000   6.625000
std       0.834523   3.377975   3.377975
min    2010.000000   4.000000   1.000000
25%    2010.750000   7.500000   5.000000
50%    2011.000000  10.000000   6.000000
75%    2012.000000  11.000000   8.500000
max    2012.000000  15.000000  12.000000

In [75]:
football.tail(2)
#football.head()

   year   team  wins  losses
6  2011  Lions    10       6
7  2012  Lions     4      12

In [77]:
football[6:8]

   year   team  wins  losses
6  2011  Lions    10       6
7  2012  Lions     4      12

# Selecting

In [79]:
football[5:7][['year','wins']]

   year  wins
5  2010     6
6  2011    10

In [80]:
football[(football.team=='Lions') & (football.wins>5)]

   year   team  wins  losses
5  2010  Lions     6      10
6  2011  Lions    10       6

It is possible to define a new index

In [82]:
football.set_index('year').head()

         team  wins  losses
year
2010    Bears    11       5
2011    Bears     8       8
2012    Bears    10       6
2011  Packers    15       1
2012  Packers    11       5

We can copy the modified datafram to new one or change the modification inplace. it is possible to reset the index after calculations

In [84]:
new_index = football.set_index('year')
football.set_index('year', inplace=True)
#football.reset_index(inplace=True)

Here we can select rows by index (iloc) or by label (loc)

In [89]:
football.iloc[[1,3]]

         team  wins  losses
year
2011    Bears     8       8
2011  Packers    15       1

In [94]:
football.loc[2011]
football.reset_index(inplace=True)

# Group
The pandas "groupby" mechanism allows us to split the data into groups, apply a function to each group 
independently and then combine the results.

Note: groupby() returns a pandas groupby object

Note: the groupby object attribute .groups contains a dictionary mapping of the groups.

Trap: NaN values in the group key are automatically dropped – there will never be a NA group.

In [114]:
team = football.groupby('team')
print team
print team.groups

for name, group in team:
    print name
    print group

print
print "Select on group"
lions = team.get_group('Lions')
print lions

<pandas.core.groupby.DataFrameGroupBy object at 0x7f3a5ac70f10>
{'Bears': [0, 1, 2], 'Lions': [5, 6, 7], 'Packers': [3, 4]}
Bears
   year   team  wins  losses
0  2010  Bears    11       5
1  2011  Bears     8       8
2  2012  Bears    10       6
Lions
   year   team  wins  losses
5  2010  Lions     6      10
6  2011  Lions    10       6
7  2012  Lions     4      12
Packers
   year     team  wins  losses
3  2011  Packers    15       1
4  2012  Packers    11       5

Select on group
   year   team  wins  losses
5  2010  Lions     6      10
6  2011  Lions    10       6
7  2012  Lions     4      12

In [123]:
print team.count()
print team.size().sort_values(ascending=False)
print football.team.value_counts()      # same as using group
print team.year.nunique().sort_values(ascending=False)

         year  wins  losses
team
Bears       3     3       3
Lions       3     3       3
Packers     2     2       2
team
Lions      3
Bears      3
Packers    2
dtype: int64
Lions      3
Bears      3
Packers    2
Name: team, dtype: int64
team
Lions      3
Bears      3
Packers    2
Name: year, dtype: int64

In [98]:
print team.sum()
print team.mean()

         year  wins  losses
team
Bears    6033    29      19
Lions    6033    20      28
Packers  4023    26       6
           year       wins    losses
team
Bears    2011.0   9.666667  6.333333
Lions    2011.0   6.666667  9.333333
Packers  2011.5  13.000000  3.000000

In [115]:
def ranker(df):
    """Assigns a rank to each team based on win, with 1 being the highest wins.
    Assumes the data is DESC sorted."""
    df['rank'] = np.arange(len(df)) + 1
    return df

football.sort_values('wins', ascending=False, inplace=True)
ff = football.groupby('team').apply(ranker)
print ff

   year     team  wins  losses  rank
3  2011  Packers    15       1     1
0  2010    Bears    11       5     1
4  2012  Packers    11       5     2
2  2012    Bears    10       6     2
6  2011    Lions    10       6     1
1  2011    Bears     8       8     3
5  2010    Lions     6      10     2
7  2012    Lions     4      12     3

In [143]:
def num(df):
    """Assigns a number of teams in each group"""
    df['num'] = len(df) 
    return df

ff = football.groupby('team').apply(num)
print ff

   year     team  wins  losses  num
3  2011  Packers    15       1    2
0  2010    Bears    11       5    3
4  2012  Packers    11       5    2
2  2012    Bears    10       6    3
6  2011    Lions    10       6    3
1  2011    Bears     8       8    3
5  2010    Lions     6      10    3
7  2012    Lions     4      12    3

We can use the agg method to pass a dictionary specifying the columns to aggregate (as keys) and a list of functions we'd like to apply.

In [133]:
football.groupby('team')['wins'].agg({'rate': [np.size, np.mean]}).sort_values([('rate', 'mean')], ascending=False)

        rate
        size       mean
team
Packers    2  13.000000
Bears      3   9.666667
Lions      3   6.666667

# Merge
how : {'left', 'right', 'outer', 'inner'}, default 'inner'
- left: use only keys from left frame (SQL: left outer join)
- right: use only keys from right frame (SQL: right outer join)
- outer: use union of keys from both frames (SQL: full outer join)
- inner: use intersection of keys from both frames (SQL: inner join)

In [134]:
left_frame = pd.DataFrame({'key': range(5), 
                           'left_value': ['a', 'b', 'c', 'd', 'e']})
right_frame = pd.DataFrame({'key': range(2, 7), 
                           'right_value': ['f', 'g', 'h', 'i', 'j']})
print(left_frame)
print('\n')
print(right_frame)

   key left_value
0    0          a
1    1          b
2    2          c
3    3          d
4    4          e


   key right_value
0    2           f
1    3           g
2    4           h
3    5           i
4    6           j

In [135]:
pd.merge(left_frame, right_frame, on='key', how='inner')

   key left_value right_value
0    2          c           f
1    3          d           g
2    4          e           h

In [137]:
pd.merge(left_frame, right_frame, left_on='key', right_index=True)

   key  key_x left_value  key_y right_value
0    0      0          a      2           f
1    1      1          b      3           g
2    2      2          c      4           h
3    3      3          d      5           i
4    4      4          e      6           j

In [138]:
pd.merge(left_frame, right_frame, on='key', how='left')

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c           f
3    3          d           g
4    4          e           h

In [139]:
pd.merge(left_frame, right_frame, on='key', how='right')

   key left_value right_value
0  2.0          c           f
1  3.0          d           g
2  4.0          e           h
3  5.0        NaN           i
4  6.0        NaN           j

In [140]:
pd.merge(left_frame, right_frame, on='key', how='outer')

   key left_value right_value
0  0.0          a         NaN
1  1.0          b         NaN
2  2.0          c           f
3  3.0          d           g
4  4.0          e           h
5  5.0        NaN           i
6  6.0        NaN           j

In [141]:
pd.concat([left_frame, right_frame])

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c         NaN
3    3          d         NaN
4    4          e         NaN
0    2        NaN           f
1    3        NaN           g
2    4        NaN           h
3    5        NaN           i
4    6        NaN           j